.SearchResults {
  width: 30%;
  height: 950px;
  padding: 1.88rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
}

.TrackList {
  height:840px;
  overflow-y: scroll;
}


.header-cont {
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.header-cont h2{
  margin-bottom: 4px;
}

.pagging {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.pagging h3{
  margin-bottom: 5px;
}



table {
           border-collapse: separate;
           border-spacing: 2px;
           text-align: center;
}

.page {
  width: 34px;
  cursor:pointer;
  background-color: #010c3f;
  font-size: 1rem;
  transition: background-color .25s;
}

.currentPage {
  padding: 10px;
  font-size: 1.233rem;
  font-weight: bold;
  transition: background-color .25s;
}

.page:hover {
  color: rgba(265, 265, 265, .5);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }

}
