.PlaylistList {
  width: 50%;
  height: 950px;
  overflow-y: scroll;
  padding: .88rem;
  background-color: rgba(1, 12, 63, 0.7);

}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
