.Toast {

  position:absolute;
  height:100px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  -webkit-animation: fadein  0.5s;
      -moz-animation: fadein 0.5s;
       -ms-animation: fadein 0.5s;
        -o-animation: fadein 0.5s;
           animation: fadein 0.5s;

}

.ToastInfo {

  position:absolute;
  display:flex;
  justify-content:flex-start;
  height:200px;
  width: 420px;
  background-color:  rgba(18, 9, 66, 0.6);
  border-width: thin;
  border-style: solid;
  border-color:black;
  box-shadow: 0 0 10px 2000px rgba(0,0,0,0.8);
  z-index: 1;
  -webkit-animation: extend  0.5s;
      -moz-animation: extend 0.5s;
       -ms-animation: extend 0.5s;
        -o-animation: extend 0.5s;
           animation: extend 0.5s;

}

.reverse {
   animation: extendReverse 0.5s;
}

@keyframes extendReverse {
    0% {      margin-top:100px;
              height:100px;
             width: 100px;
              background-color: rgba(18, 9, 66, 0.1);
              box-shadow: 0 0 10px 2000px rgba(0,0,0,0.4);}

    70%   {   margin-top:-20px;
              height:220px;
             width: 450px;
             background-color: rgba(18, 9, 66, 0.3);
             box-shadow: 0 0 10px 2000px rgba(0,0,0,0.8);}
    100% {   margin-top:0px;
              height:200px;
             width: 420px;
             background-color: rgba(18, 9, 66, 0.6); }
}

@keyframes extend {
    0% {    height:100px;
             width: 100px;
              background-color: rgba(18, 9, 66, 0.1);
              box-shadow: 0 0 10px 2000px rgba(0,0,0,0.4);}

    70%   {   height:220px;
             width: 450px;
             background-color: rgba(18, 9, 66, 0.3);
             box-shadow: 0 0 10px 2000px rgba(0,0,0,0.8);}
    100% {   height:200px;
             width: 420px;
             background-color: rgba(18, 9, 66, 0.6); }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

 .playerContainer  {
   height:180px;
   width:180px;
   margin:10px
 }

 .TrackImg  {
  height:170px;
  width: 170px;
  border:5px solid #99a4af;
  border-radius: 1px;
  box-shadow: 0 0 1px rgb(247, 248, 249), 0 0 10px 2px rgba(0,0,0,0.7);
  z-index: 1;
  -webkit-animation:  trackInfoFadeinV 1.5s;
      -moz-animation: trackInfoFadeinV 1s;
       -ms-animation: trackInfoFadeinV 1s;
        -o-animation: trackInfoFadeinV 1s;
           animation: trackInfoFadeinV 1s;
           -webkit-transition: 0.25s;
            -moz-transition: 0.25s;
             -ms-transition: 0.25s;
              -o-transition: 0.25s;
                 transition: 0.25s

}

.TrackImg.Imgpause {
  border:5px solid #EAF8FF;
  box-shadow: 0 0 2px 2px rgb(247, 248, 249), 0px 0px 10px 6px cyan;
}

.TrackImg.Imgpause.Imgmute {
  border:5px solid #b6c8db;
  box-shadow: 0 0 1px rgba(247, 248, 249, 0.6), 0px 0px 10px 2px rgba(0,255,255,0.8);
}

//icon
.playerIcons {
  display:absolute;
}

.playIcon  {
  opacity:0.6;
  cursor:pointer;
  height:64px;
  width:64px;
  position:absolute;
  margin-left:58px;
  margin-top:-126px;

  -webkit-animation: dealyFadein  0.8s;
      -moz-animation: fadein 0.8s;
       -ms-animation: fadein 0.8s;
        -o-animation: fadein 0.8s;
           animation: fadein 0.8s;

  -webkit-transition: 0.1s;
   -moz-transition: 0.1s;
    -ms-transition: 0.1s;
     -o-transition: 0.1s;
        transition: 0.1s
}

 .play {
  background:url('./play-button.png') no-repeat;
  -webkit-filter: drop-shadow(5px 5px 7px  #221e33);
}

.pause {
  background:url('./pause-button.png') no-repeat;
  -webkit-filter: drop-shadow(5px 5px 7px  cyan);
  opacity:1;
}

.pause.mute {
  background:url('./pause-button.png') no-repeat;
  -webkit-filter: drop-shadow(2px 2px 5px rgba(0,255,255,0.8));
  opacity:0.8;
}


.pause.mute:hover {
  opacity:0.9;
}

.pause.mute:active {
  opacity:0.5;
}

.playIcon:hover {
    opacity:0.8;
    -webkit-filter: drop-shadow(0 0 5px  cyan, 5px 5px 7px  rgba(0,255,255,0.8));
    filter: drop-shadow(5px 5px 7px  rgba(108, 247, 233));
}

.playIcon:active {

    opacity:0.5;
    -webkit-filter: drop-shadow(2px 2px 4px  #12101c);
    filter: drop-shadow(2px 2px 4px  #12101c);
}

.volumeIcon  {
  opacity:0.6;
  cursor:pointer;
  height:24px;
  width:24px;
  display:none;
  position:absolute;
  margin-left:146px;
  margin-top:-36px;
  -webkit-animation: dealyFadein  0.8s;
      -moz-animation: fadein 0.8s;
       -ms-animation: fadein 0.8s;
        -o-animation: fadein 0.8s;
           animation: fadein 0.8s;
  -webkit-transition: 0.1s;
   -moz-transition: 0.1s;
    -ms-transition: 0.1s;
     -o-transition: 0.1s;
        transition: 0.1s
}

.volumeIcon:hover {
  opacity:0.9;
}

.muted.volplay:hover {
  opacity:0.9;
}

.unMuted.volplay:hover {
  opacity:0.9;
}

.volumeIcon:active{
  opacity: 0.5;
}

.muted.volplay:active{
  opacity: 0.5;
}

.unMuted.volplay:active{
  opacity: 0.5;
  -webkit-filter: drop-shadow(3px 3px 5px  cyan);
}



.muted  {
 background:url('./mute.png') no-repeat;
 -webkit-filter: drop-shadow(5px 5px 7px  #221e33);
 display:inherit;
}
.muted.volplay  {
 background:url('./mute.png') no-repeat;
 -webkit-filter: drop-shadow(5px 5px 7px  #221e33);
 display:inherit;
 opacity: 0.8;
}

.unMuted {
 background:url('./volume.png') no-repeat;
 -webkit-filter: drop-shadow(5px 5px 7px  #221e33);
 display:inherit;
}

.unMuted.volplay {
 background:url('./volume.png') no-repeat;
 -webkit-filter: drop-shadow(5px 5px 7px  cyan);
 display:inherit;
 opacity: 1;
}



@keyframes fadein {
    0% { opacity: 0; }
    60% { opacity: 0; }

}


@-webkit-keyframes trackInfoFadeinV {
    0% {  height:0%;
          opacity:0;}
    40% { height:20%;
          opacity:0;}
    70%   { height:177px;}
    100%   { height:170px;
            opacity: 1; }
}

.TrackPreview audio {
    display: inline-block;
    vertical-align: top;
    top:-100px;
    z-index: 2;
    border:2px solid black;
}

.TrackInfo {
    margin:10px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    -webkit-animation:  trackInfoFadeinH 2s;
        -moz-animation: trackInfoFadeinH 2s;
         -ms-animation: trackInfoFadeinH 2s;
          -o-animation: trackInfoFadeinH 2s;
             animation: trackInfoFadeinH 1s;
}

@-webkit-keyframes trackInfoFadeinH {
    0% {
          margin-left: 60px;
          opacity:0;}
    70% {
            margin-left: 60px;
            opacity:0;}
    100%   {
              opacity: 1; }
}

.trackName{
    margin: 8px 10px 5px 0;
    max-height:40%;
    line-height: normal;
    font-size:1.4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.AlbumName {
  flex-direction:row;
  margin-right: 10px;
  padding-top: 0.5rem;
    border-top: 1px solid white;
    margin-top:5px;
    font-size:0.8vw;
    font-weight: bold;
    text-align: center;
    max-height: 30%;
    overflow-y:scroll;
}

.AlbumName span{
  align-self: center;
  font-weight: 200;
  opacity: 0.8;
}
.ArtistName {
      margin-right: 10px;
      margin-top:0.6rem;
      font-size:1rem;
      font-weight: normal;
      text-align: center;
  }
.ArtistName span{
  font-size:0.6rem;
  font-weight:100;
  opacity: 0.8;
}

.Duration {
  margin-right: 10px;
  font-weight: normal;
  font-size: 0.8rem;
}
.Spotify {

    flex-grow: 2;
    display:flex;
    align-self: flex-end;
    flex-direction: column;
    justify-content: flex-end;

    -webkit-transition: 0.14s;
     -moz-transition: 0.14s;
      -ms-transition: 0.14s;
       -o-transition: 0.14s;
          transition: 0.14s
}


.SpotifyIcon {

  cursor:pointer;
  opacity: 0.7;
  display: inline-block;
  align-self: flex-end;
  height:32px;
  width:32px;
  background:url('./spotify.png') no-repeat;
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5););
}
.SpotifyIcon:hover{
  opacity: 0.96;
}

.SpotifyIcon:hover + .SpotifyToast {
  display: flex;

}
.SpotifyToast {
  padding:2px;
  opacity: 0.8;
  display:none;
  position: absolute;
  font-size: xx-small;
  font-weight: lighter;
  width: max-content;
  margin-left: -30px;
  margin-top: -37px;
  animation: popup 0.2s;
  background-color: rgba(0, 0, 0, 0.7);

}



@keyframes popup {
    from { opacity: 0.3;margin-top: -30px; }
    to {  opacity: 0.8;margin-top: -37px; }

}
.SpotifyIcon:active {
  opacity: 0.6;
}

.bubblingG {
	text-align: center;
	width:110px;
	height:69px;
	margin-top: 22px;
  margin-left: -5px;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin: 24px auto;
	background: rgb(0,0,0);
	border-radius: 69px;
		-o-border-radius: 69px;
		-ms-border-radius: 69px;
		-webkit-border-radius: 69px;
		-moz-border-radius: 69px;
	animation: bubblingG 0.645s infinite alternate;
		-o-animation: bubblingG 0.645s infinite alternate;
		-ms-animation: bubblingG 0.645s infinite alternate;
		-webkit-animation: bubblingG 0.645s infinite alternate;
		-moz-animation: bubblingG 0.645s infinite alternate;
}

#bubblingG_1 {
	animation-delay: 0s;
		-o-animation-delay: 0s;
		-ms-animation-delay: 0s;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
}

#bubblingG_2 {
	animation-delay: 0.1995s;
		-o-animation-delay: 0.1995s;
		-ms-animation-delay: 0.1995s;
		-webkit-animation-delay: 0.1995s;
		-moz-animation-delay: 0.1995s;
}

#bubblingG_3 {
	animation-delay: 0.389s;
		-o-animation-delay: 0.389s;
		-ms-animation-delay: 0.389s;
		-webkit-animation-delay: 0.389s;
		-moz-animation-delay: 0.389s;
}



@keyframes bubblingG {
	0% {
    width: 10px;
  	height: 10px;
		background-color:rgb(0,0,0);
		transform: translateY(0);
	}

	100% {
		width: 22px;
		height: 22px;
		background-color:rgb(255,255,255);
		transform: translateY(-29px);
	}
}

@-o-keyframes bubblingG {
	0% {
    width: 10px;
    height: 10px;
		background-color:rgb(0,0,0);
		-o-transform: translateY(0);
	}

	100% {
		width: 22px;
		height: 22px;
		background-color:rgb(255,255,255);
		-o-transform: translateY(-29px);
	}
}

@-ms-keyframes bubblingG {
	0% {
    width: 10px;
    height: 10px;
		background-color:rgb(0,0,0);
		-ms-transform: translateY(0);
	}

	100% {
    width: 22px;
		height: 22px;
		background-color:rgb(255,255,255);
		-ms-transform: translateY(-29px);
	}
}

@-webkit-keyframes bubblingG {
	0% {
    width: 10px;
    height: 10px;
		background-color:rgb(0,0,0);
		-webkit-transform: translateY(0);
	}

	100% {
    width: 22px;
		height: 22px;
		background-color:rgb(255,255,255);
		-webkit-transform: translateY(-29px);
	}
}

@-moz-keyframes bubblingG {
	0% {
    width: 10px;
    height: 10px;
		background-color:rgb(0,0,0);
		-moz-transform: translateY(0);
	}

	100% {
    width: 22px;
		height: 22px;
		background-color:rgb(255,255,255);
		-moz-transform: translateY(-29px);
	}
}
